<template name="MasterLayout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Painel da Mobilidade">
  <meta name="author" content="Scipopulis">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Painel da Mobilidade</title>
</head>

  <body>

  <nav>
   <div class="toolbar grey darken-4 nav-wrapper">

     <a class="brand-logo center">PAINEL DA MOBILIDADE</a>

     </div>
   </nav>


   <div class="container">

     {{> yield}}

   </div>

   <footer class="grey darken-4 page-footer">
    <div class="rodape black valign-wrapper">
      <div class="container center-align valign">
        <a class="grey-text text-lighten-4" href="http://scipopulis.com"><img src="../img/logo_scipopulis_branco.png" height="32"/></a>
      </div>
    </div>
  </footer>
  </body>

  <script>
    $(document).ready(function(){
      $('.tooltipped').tooltip({delay: 50});
      $('.tooltipped').each(function(index, element) {
          var span = $('#' + $(element).attr('data-tooltip-id') + '>span:first-child');
          span.before($(element).attr('data-tooltip'));
          span.remove();
      });
    });
  </script>



</template>
