.toolbar {
  margin-bottom: 10px;
}

.tabs .indicator {
    background-color: black;
}

.tabs .tab a {
  color: #212121;
}

.tabs .tab a:hover {
  color: black;
}

.verde {
  background-color: #23c932;
}

.vermelho {
  background-color: #cc0a0a;
}

.amarelo {
  background-color: #f3bd0c;
}

.text-amarelo {
  color: #A59502;
}

.text-verde {
  color: #009245;
}

.text-vermelho {
  color: #C1272D;
}

.logo {
  margin-right: 32px;
  margin-bottom: 10px;
}

.rodape {
  height: 58px;
}

.page-footer {
  margin-top: 0px !important;
}

.ticker {
  margin-top: 5px;
}
