<template name="carbus_zone" xmlns="http://www.w3.org/1999/html">
    <div class="col l6 s12">
      <div class="card grey lighten-5 hoverable">
          <div class="card-content grey-text text-darken-3">
              <div class="row valign-wrapper">
                <div class="col s2 center-align valign">
                  <img src="../img/comparacao.png" height="52"/>
                </div>
                <div class="col s8">

                    <!--<h5>TEMPO DE VIAGEM</h5>-->
                    {{#if data.name}}
                      <h5 class="truncate grey-text text-darken-1"> {{data.name}} </h5>
                    {{/if}}

                    {{#unless data.name}}
                      {{#each data.trechos}}
                        <h5 class="truncate grey-text text-darken-1"> {{this.name}} </h5>
                      {{/each}}
                    {{/unless}}

                    <!-- TODO: Injetar automaticamente os detalhes início e fim de trechos/corredores -->
                    <!--<h5>{{originMainForKey data.name}}</h5>-->
                    <!--<h6 class="grey-text text-darken-1">({{originDetailForKey data.name}})</h6>-->
                    <!--<h7>até</h7>-->
                    <!--<h5>{{destinationMainForKey data.name}}</h5>-->
                    <!--<h6 class="grey-text text-darken-1">({{destinationDetailForKey data.name}})</h6>-->
                </div>
                <div class="col s2 right-align">
                  <a class="grey-text text-darken-2 tooltipped" href="" data-position="top" data-delay="10" data-tooltip="{{getHelpText sentido}}">
                    <span class="fa-stack">
                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                      <i class="fa fa-question fa-stack-1x"></i>
                    </span>
                  </a>
                </div>
              </div>
              <div class="row valign-wrapper">
                <div class="col l5 hide-on-small-only center valign">
                  <img src="../img/{{imageForZone}}" width="80%"/>
                </div>
                <div class="col l7 s11">
                  <div class="row">
                    <div class="col s5 offset-s2 center-align">
                      Bairro-Centro
                    </div>
                    <div class="col s5 center-align">
                      Centro-Bairro
                    </div>
                  </div>

                  {{#if data.zone}}
                    <div class="col s12">
                      <h6 class="light">{{this.name}}</h6>
                    </div>
                  {{/if}}

                  {{#each data.trechos}}
                    <div class="row valign-wrapper">
                        <div class="col s12">
                          <h6 class="light">{{this.name}}</h6>
                        </div>
                    </div>

                  <div class="row row-bar valign-wrapper">
                    <div class="col s2 valign">
                      <img src="../img/onibus.png" height="30">
                    </div>
                    <div class="col s5">
                      <div class="carbus-bar-bgd valign">
                        <div class="carbus-bar {{classForBar paths.BC.bus.time_minutes paths.BC.car.time_minutes}}" style="width:{{barSize paths.BC.bus.time_minutes paths.BC.car.time_minutes}}%;">
                          <span class="bar-text grey-text text-lighten-5 bold">{{formatTime paths.BC.bus.time_minutes}} min</span>
                        </div>
                      </div>
                    </div>
                    <div class="col s5">
                      <div class="carbus-bar-bgd valign">
                        <div class="carbus-bar {{classForBar paths.CB.bus.time_minutes paths.CB.car.time_minutes}}" style="width:{{barSize paths.CB.bus.time_minutes paths.CB.car.time_minutes}}%;">
                          <span class="bar-text grey-text text-lighten-5 bold">{{formatTime paths.CB.bus.time_minutes}} min</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row row-bar valign-wrapper">
                    <div class="col s2">
                      <img src="../img/carro.png" height="30">
                    </div>
                    <div class="col s5">
                      <div class="carbus-bar-bgd valign">
                        <div class="carbus-bar {{classForBar paths.BC.car.time_minutes paths.BC.bus.time_minutes}}" style="width:{{barSize paths.BC.car.time_minutes paths.BC.bus.time_minutes}}%;">
                          <span class="bar-text grey-text text-lighten-5 bold">{{formatTime paths.BC.car.time_minutes}} min</span>
                        </div>
                      </div>
                    </div>
                    <div class="col s5">
                      <div class="carbus-bar-bgd valign">
                        <div class="carbus-bar {{classForBar paths.CB.car.time_minutes paths.CB.bus.time_minutes}}" style="width:{{barSize paths.CB.car.time_minutes paths.CB.bus.time_minutes}}%;">
                          <span class="bar-text grey-text text-lighten-5 bold">{{formatTime paths.CB.car.time_minutes}} min</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
        </div>
    </div>

    <script>
      $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});
        $('.tooltipped').each(function(index, element) {
            var span = $('#' + $(element).attr('data-tooltip-id') + '>span:first-child');
            span.before($(element).attr('data-tooltip'));
            span.remove();
        });
      });
    </script>

</template>
