<template name="CarBus">
  <div class="row">
    <div class="col l9 s12">
     {{>mapTemplate}}
   </div>
   <div class="col l3 s12">
     {{>generalSpeed}}
   </div>
  </div>

  <div class="row">

      {{#each data}}

          {{> carbus_zone data=this }}

      {{/each}}

  </div>

</template>
