<template name="CarBusTemplate" xmlns="http://www.w3.org/1999/html">

    <div class="col l3 s12">

        <div class="card grey lighten-5 hoverable">
            <div class="card-content grey-text text-darken-3">
                <div class="row valign-wrapper">
                  <div class="col s2 center-align valign">
                    <img src="img/sp_centro.png" height="52"/>
                  </div>
                    <div class="col s10">

                        <h5>COMPARAÇÃO</h5>
                        <h6 class="truncate grey-text text-darken-1"> {{data.name}} </h6>
                        <!-- TODO: Injetar automaticamente os detalhes início e fim de trechos/corredores -->
                        <!--<h5>{{originMainForKey data.name}}</h5>-->
                        <!--<h6 class="grey-text text-darken-1">({{originDetailForKey data.name}})</h6>-->
                        <!--<h7>até</h7>-->
                        <!--<h5>{{destinationMainForKey data.name}}</h5>-->
                        <!--<h6 class="grey-text text-darken-1">({{destinationDetailForKey data.name}})</h6>-->
                    </div>
                </div>

                <div class="row timerImg">
                  <div class="col s3 offset-s9">
                    <img src="img/relogio_cinza.png" width="40px" height="40px">
                  </div>
                </div>
                <div class="row valign-wrapper">
                  <div class="col s3">
                    <img src="img/onibus.png" width="52px" height="52px"/>
                  </div>
                  <div class="col s6 valign">
                    <div class="carbus-bar-bgd">
                      <div class="carbus-bar {{classForStopWatch data.bus.time_minutes data.car.time_minutes}}" style="width:{{barSize data.bus.time_minutes data.car.time_minutes}}%;">
                      </div>
                    </div>
                  </div>
                  <div class="col s3">
                    <div class="timeText grey-text text-darken-1">{{formatRound data.bus.time_minutes}} min</div>
                  </div>
                </div>

                <div class="row valign-wrapper">
                  <div class="col s3 valign-wrapper">
                    <img src="img/carro.png" width="52px" height="52px"/>
                  </div>
                  <div class="col s6 valign">
                    <div class="carbus-bar-bgd">
                      <div class="carbus-bar {{classForStopWatch data.car.time_minutes data.bus.time_minutes}}" style="width:{{barSize data.car.time_minutes data.bus.time_minutes}}%;">
                    </div>
                  </div>
                  </div>
                  <div class="col s3">
                    <div class="timeText grey-text text-darken-1">{{formatRound data.car.time_minutes}} min</div>
                  </div>
                </div>


                {{> footer data.ts}}

            </div>
        </div>
    </div>
</template>
