.busSpeed-text {
    font-weight: 400;
    color: #363733;
    font-size: 18pt;
}

div.bus_corridor_image {
    content: url('img/corredor.png');
    width: 100%; /* Width of new image */
}

div.car_car_image {
    content: url('img/carro_carro.png');
    width: 100%; /* Width of new image */
}

div.stopWatch_green {
    content: url('img/relogio_verde.png');
    width: 20px; /* Width of new image */
    height: 20px; /* Height of new image */
}

div.stopWatch_red {
    content: url('img/relogio_vermelho.png');
    width: 52px; /* Width of new image */
    height: 51px; /* Height of new image */
}

.chip {
  font-size: 16px;
  color: white;
}

.timeText {
  font-size: 17px;
}

.timerImage {
  margin-bottom: 0px !important;
}

.carbus-bar {
  height: 100%;
  border-radius: 12px;
}

.carbus-bar-bgd {
  height: 30px;
  width: 100%;
  background-color: #BDBDBD;
  border-radius: 12px;
}
