<template name="mapTemplate">
  <div class="card grey lighten-5 hoverable">
      <div class="card-content grey-text text-darken-3">
          <div class="row valign-wrapper">
            <div class="col l1 s2 center-align valign">
              <img src="../img/comparacao.png" height="52"/>
            </div>
            <div class="col l9 s8">
                <h5>MAPA DE VELOCIDADES</h5>
                <!-- <h6 class="truncate grey-text text-darken-1"> {{data.name}} </h6> -->
            </div>
            <div class="col s2 right-align">
              <a class="grey-text text-darken-2 tooltipped" href="" data-position="top" data-delay="10" data-tooltip="Mapa de velocidades">
                <span class="fa-stack">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-question fa-stack-1x"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="map_container center-align">
                <div id='map' class="map_canvas"></div>
            </div>
          </div>
      </div>
  </div>
</template>
