/*.map-container {*/
    /*width: 240px;*/
    /*max-width: 100%;*/
    /*height: 500px;*/
/*}*/

/*#map {*/
    /*!*min-height: 350px;*!*/
    /*!*min-width: 100%;*!*/
/*}*/

.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 27.5%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map_container .map_canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 12px;
    margin-right: 12px;
}
