<template name="generalSpeed">
    <div class="card grey lighten-5 hoverable">
        <div class="card-content grey-text text-darken-3">
            <div class="row valign-wrapper">
              <div class="col s2 center-align valign">
                <i class="fa fa-tachometer fa-3x"></i>
              </div>
              <div class="col s8">
                  <h5>VELOCIDADES</h5>
                  <!-- TODO: Injetar automaticamente os detalhes início e fim de trechos/corredores -->
                  <!--<h5>{{originMainForKey data.name}}</h5>-->
                  <!--<h6 class="grey-text text-darken-1">({{originDetailForKey data.name}})</h6>-->
                  <!--<h7>até</h7>-->
                  <!--<h5>{{destinationMainForKey data.name}}</h5>-->
                  <!--<h6 class="grey-text text-darken-1">({{destinationDetailForKey data.name}})</h6>-->
              </div>
              <div class="col s2">
                <a class="grey-text text-darken-2 tooltipped" href="" data-position="top" data-delay="10" data-tooltip={{getHelpText}}>
                  <span class="fa-stack">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-question fa-stack-1x"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s5 center-align" id="general-speed-bus">
              </div>
              <div class="col s7">
                <div class="row valign-wrapper">
                  <div class="col s5 valign">
                    <img src="../img/onibus.png" width="60"/>
                  </div>
                  <div class="col s7 valign left-align">
                    <h6>ÔNIBUS</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 center">
                    <div class="truncate monitoring"><b>{{busMeters}}</b> km de vias monitoradas</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s5 center-align" id="general-speed-car">
              </div>
              <div class="col s7 center-align">
                <div class="row valign-wrapper">
                  <div class="col s5 valign">
                    <img src="../img/carro.png" width="60"/>
                  </div>
                  <div class="col s7 valign left-align">
                    <h6>CARRO</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 center">
                    <div class="truncate monitoring"><b>{{carMeters}}</b> km de vias monitoradas</div>
                    <div class="truncate monitoring"><b>{{jamMeters}}</b> km de vias congestionadas</div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
</template>
